{% extends 'HalBehatWizardBundle::base.html.twig' %}

{% block title %}{{ "hal_behat_wizard.title.add_feature"|trans }}{% endblock %}

{% block body %}


<div class="row form-actions">
    <button class="btn btn-primary" type="submit">Save changes</button>
    <button class="btn">Cancel</button>
</div>


<div class="row">
    <div class="hero-unit">
        <h1>En 2 mots</h1>
        <p>Décrivez ici votre fonctionnalité en quelques mots seulement</p>
        <form class="" method="post">
            <div class="form-horizontal">

                <fieldset>
                    <legend>Résumé</legend>
                    <div class="control-group">
                        <label class="control-label" for="input01">Résumé</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge"  placeholder="Pouvoir ajouter un utilisateur...">
                            <p class="help-block">Le titre de la fonctionnalité</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input01">Afin de </label>
                        <div class="controls">
                            <input type="text" class="input-xlarge"   name="feature-title" placeholder="Enregister un nouvel utilisateur..." />
                            <p class="help-block">Bénéfice de la fonctionallité</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input01">En tant que </label>
                        <div class="controls">
                            <input type="text" class="input-xlarge"   name="feature-title" placeholder="Administrateur du site..." />
                            <p class="help-block">Votre rôle au sein de l'application</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input01">je dois </label>
                        <div class="controls">
                            <input type="text" class="input-xlarge"   name="feature-title" placeholder="Inscrire moi-même un nouvel utilisateur dans le site..." />
                            <p class="help-block">Finalité de la fonctionnalité</p>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="span4">
        <h2>Spécificités</h2>
        <div class="alert alert-info">Décrivez ici l'environnement nécessaire à cette fonctionnalité</div>
        <form class="form-vertical" method="post">
            <div>Pré-requis :</div>
            <ol>
                <li>je suis sur la page de gestion des utilisateurs</li>
                <li>je suis administrateur</li>
                <li><a href="#"><i class="icon icon-plus-sign"></i> nouveau pré-requis</a></li>
            </ol>
            <div>Dernières actions :</div>
            <ul>
                <li>j'ai cliqué sur "Nouvel utilisateur"</li>
                <li><a href="#"><i class="icon icon-plus-sign"></i> nouvelle action</a></li>
            </ul>

        </form>
    </div>
    <div class="span8">
        <div class="span8">
            <h2>Cas d'utilisation</h2>
            <p>Les cas d'utilisations sont autant de scénarios qui décrivent votre fonctionnalité</p>

            <span class="label label-success"><strong>0</strong> erreurs, <strong>0</strong> étapes non définies</span>
            <div class="well  box-scenario">
                <div>
                    <a class="btn btn-small"><i class="icon icon-pencil"></i></a>
                    <a class="btn btn-small"><i class="icon icon-trash"></i></a>
                    Ne pas pouvoir ajouter un utilisateur dont l'adresse email est invalide
                </div>
            </div>

            <span class="label label-success"><strong>0</strong> erreurs, <strong>0</strong> étapes non définies</span>
            <div class="well  box-scenario">
                <div>
                    <a class="btn btn-small"><i class="icon icon-pencil"></i></a>
                    <a class="btn btn-small"><i class="icon icon-trash"></i></a>
                    Pouvoir enregistrer un nouvel utilisateur
                </div>
            </div>

            <span class="label label-important"><strong>4</strong> erreurs, <strong>2</strong> étapes non définies</span>
            <div class="well box-scenario">
                <div>
                    <a class="btn btn-small"><i class="icon icon-pencil"></i></a>
                    <a class="btn btn-small"><i class="icon icon-trash"></i></a>
                    Ne pas pouvoir ajouter un utilisateur qui existe déjà
                </div>
            </div>

            <span class="label label-warning">(Pas encore testé)</span>
            <div class="well box-scenario box-scenario-opened">

                <div>
                    <div>
                        <a class="btn btn-small btn-inverse"><i class="icon icon-white icon-pencil"></i></a>
                        <a class="btn btn-small"><i class="icon icon-trash"></i></a>
                        Pouvoir enregistrer un nouvel utilisateur
                    </div>
                </div>

                <div class="scenario-content">

                    <div class="form-horizontal">
                        <fieldset>
                            <legend>Pré-requis</legend>
                            <div class="control-group">
                                <label class="control-label" for="input01">Etant donné que</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge"  placeholder="..." />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="input01">Et que </label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge"  name="feature-title" placeholder="..." />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="icon icon-plus-sign"></i> ajouter un pré-requis
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Pré-requis simple</a></li>
                                            <li><a href="#">Pré-requis avec jeu de données</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Eléments déclencheurs</legend>
                            <div class="control-group">
                                <label class="control-label" for="input01">Quand</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge"  placeholder="..." />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="input01">Et que </label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge"  name="feature-title" placeholder="..." />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="input01">Et que </label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge"  name="feature-title" placeholder="j'inscris l'utilisateur suivant" />
                                </div>
                            </div>
                            <div class="control-group">
                                <table class="table table-condensed controls" style="width:auto">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>
                                            <th><button class="btn"><i class="icon icon-plus-sign"></i></button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                            <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                            <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                            <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                            <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                            <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                            <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="icon icon-plus-sign"></i> ajouter un événement
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Evénement simple</a></li>
                                            <li><a href="#">Evénement avec jeu de données</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Résultats attendus</legend>
                            <div class="control-group">
                                <label class="control-label" for="input01">Alors</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge"  placeholder="..." />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="input01">Et </label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge"  name="feature-title" placeholder="..." />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="icon icon-plus-sign"></i> ajouter un résultat attendu
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Résultat attendu simple</a></li>
                                            <li><a href="#">Résultat attend avec jeu de données</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Jeu d'exemples</legend>
                            <p>
                                Plutôt que de ne donner qu'une seule valeur pour vos exemples, vous pouvez donner un jeu 
                                de valeurs, afin de mieux aider le développeur à comprendre votre besoin et à encadrer 
                                vos cas limites.
                            </p>
                            <p>
                                Les colonnes d'exemples sont automatiquement aujoutées lorsque vous saisissez dans un champ
                                une valeur qui commence par un "&lt;" et finit par "&gt;".
                            </p>

                            <p>Par exemple : </p>
                            <code>
                                Je tente de réinscrire l'utilisateur qui a l'email "&lt;Email&gt;"
                            </code>

                            <p>Sera compris par le développeur :</p>
                            <code>
                                Je tente de réinscrire l'utilisateur qui a l'email "martin@dupont.fr"
                            </code>

                            <p>C'est à vous :</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                        <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                        <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                        <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                        <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                        <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                        <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn"><i class="icon icon-plus-sign"></i></button></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>

                    <div class=" form-actions">
                        <button class="btn btn-primary" type="submit">J'ai terminé pour ce scénario</button>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="span8 box-feature-details">
        wdf f 
    </div>
</div>


{% endblock %}

