<div class="span4" id="ui-side">

    <p class="box-act">
        <a href="{{ path('hbw.remove', {feature: feature.getHash()}) }}" class="btn" id="btn-remove">Delete</a>
        <a href="{{ path('hbw.home') }}" class="btn" id="btn-cancel">Cancel</a>
        <a class="btn btn-primary btn-success btn-save" id="btn-save">Save</a>

    </p>


    <!-- title, descr -->
    <div class="well form" id="feature-box-title">
        <h4 class="feature-title">
            <a class="btn-feature-edit" href="#"  data-callback-out="editMain"><i class="icon icon-pencil"></i></a>
            <a class="btn-feature-edit" href="#"  data-callback-out="editMain"><span class="clone-title">My Feature</span></a>
        </h4>
        <div>
            <div class="feature-context-sentence"><span class="keyword descr-keyword">In order to</span><span class="clone-inorder">...</span></div>
            <div class="feature-context-sentence"><span class="keyword descr-keyword">As</span><span class="clone-as">...</span></div>
            <div class="feature-context-sentence"><span class="keyword descr-keyword">I should</span><span class="clone-should">...</span></div>
        </div>
    </div>


    <!-- scenarios -->
    <div class="well form " id="feature-box-scenarios">
        <h4 class="feature-title">
            <span class="clone-scenario-title">Scenarios</span>
        </h4>
        <div class="scenarios">

            <p class="box-act-add-scenario">
                <a class="btn btn-scenario-add btn-scenario-edit" data-callback-out="addScenario" data-callback-enter="addScenario"><i class="icon icon-plus-sign"></i> New scenario</a>
            </p>
        </div>
    </div>



    <!-- details -->
    <div class="well form " id="feature-box-details">
        <h4 class="feature-details">
            Details
        </h4>
        <p>
            <a href="#" data-callback-enter="editBackground" data-callback-out="updateBackgroundDatas" class="btn btn-background-edit">Change background</a>
        </p>
    </div>
</div>