{% extends 'HalBehatWizardBundle::base.html.twig' %}

{% block title %}{{ "hbw.title.feature.edit"|trans }}{% endblock %}

{% block body %}


<form >


    <div class="row">


        <!-- Side panel -->
        <div class="span4" id="ui-side">

            <p class="box-act">
                <a class="btn" id="btn-cancel">Cancel</a>
                <a class="btn btn-primary" id="btn-save">Save</a>

            </p>


            <!-- title, descr -->
            <div class="well form " id="feature-box-title">
                <h4 class="feature-title">
                    <span class="clone-title">My Feature</span>
                    <a class="btn" href="#" id="btn-feature-edit"><i class="icon icon-pencil"></i></a>
                </h4>
                <div>
                    <span class="clone-order"><span>In order to</span>do anything</span>
                    <span class="clone-as"><span>As</span>user</span>
                    <span class="clone-should"><span>I should</span>do anything</span>
                </div>
            </div>


            <!-- scenarios -->
            <div class="well form " id="feature-box-scenarios">
                <h4 class="feature-title">
                    <span class="clone-title">Scenarios</span>
                </h4>
                <div class="scenarios">

                    <!-- scenario -->
                    <div class="scenario">
                        <div class="scenario-opts">
                            <a href="#" class="btn-scenario-edit"><i class="icon icon-pencil"></i></a>
                            <a href="#" class="btn-scenario-edit"><i class="icon icon-trash"></i></a>
                        </div>
                        <div class="scenario-title">
                            <a href="#" data-scenario="" class="btn-scenario-edit">My scenario 1</a>
                        </div>
                    </div>

                    <!-- scenario -->
                    <div class="scenario">
                        <div class="scenario-opts">
                            <a href="#" class="btn-scenario-edit"><i class="icon icon-pencil"></i></a>
                            <a href="#" class="btn-scenario-edit"><i class="icon icon-trash"></i></a>
                        </div>
                        <div class="scenario-title">
                            <a href="#" data-scenario="" class="btn-scenario-edit">My scenario 1</a>
                        </div>
                    </div>

                    <!-- scenario -->
                    <div class="scenario">
                        <div class="scenario-opts">
                            <a href="#" class="btn-scenario-edit"><i class="icon icon-pencil"></i></a>
                            <a href="#" class="btn-scenario-edit"><i class="icon icon-trash"></i></a>
                        </div>
                        <div class="scenario-title">
                            <a href="#" data-scenario="" class="btn-scenario-edit">My scenario 1</a>
                        </div>
                    </div>

                </div>
            </div>



            <!-- details -->
            <div class="well form " id="feature-box-details">
                <h4 class="feature-details">
                    Details
                </h4>
                <p>
                    <a href="#" class="btn btn-examples-edit">Change / add examples</a>
                </p>
                <p>
                    <a href="#" class="btn btn-background-edit">Change background</a>
                </p>
            </div>

        </div>






        <!--  Modified content  -->
        <div id="page-editing" class="span8">
            <div class="well">





                <!-- Box Scenario -->
                <div id="box-edit-scenario">
                    <div class="">
                        <h1>Cas d'utilisation</h1>
                        <p>Les cas d'utilisations sont autant de scénarios qui décrivent votre fonctionnalité</p>

                        <div class=" box-scenario box-scenario-opened">


                            <div class="form-horizontal">
                                    <fieldset>
                                        <legend>Résumé</legend>
                                        <div class="control-group">
                                            <label class="control-label" for="scenario-title">Titre</label>
                                            <div class="controls">
                                                <input type="text" id="scenario-title" name="scenario-title" class="input-xlarge input-step input-step-given"  placeholder="..." />
                                            </div>
                                        </div>
                                        </fieldset>
                                        </div>


                            <div class="scenario-content">
                                <div class="form-horizontal">
                                    <fieldset>
                                        <legend>Pré-requis</legend>
                                        <div class="control-group">
                                            <label class="control-label" for="input01">Etant donné que</label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge input-step input-step-given"  placeholder="..." />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="input01">Et que </label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge input-step input-step-given"  name="feature-title" placeholder="..." />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="btn-group">
                                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="icon icon-plus-sign"></i> ajouter un pré-requis
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Pré-requis simple</a></li>
                                                        <li><a href="#">Pré-requis avec jeu de données</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Eléments déclencheurs</legend>
                                        <div class="control-group">
                                            <label class="control-label" for="input01">Quand</label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge input-step input-step-when"  placeholder="..." />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="input01">Et que </label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge input-step input-step-when"  name="feature-title" placeholder="..." />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="input01">Et que </label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge input-step input-step-when"  name="feature-title" placeholder="j'inscris l'utilisateur suivant" />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <table class="table table-condensed controls" style="width:auto">
                                                <thead>
                                                    <tr>
                                                        <th>Nom</th>
                                                        <th>Prénom</th>
                                                        <th>Email</th>
                                                        <th><button class="btn"><i class="icon icon-plus-sign"></i></button></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                                        <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                                        <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                                        <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                                        <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                                        <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                                        <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td><button class="btn"><i class="icon icon-plus-sign"></i></button></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="btn-group">
                                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="icon icon-plus-sign"></i> ajouter un événement
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Evénement simple</a></li>
                                                        <li><a href="#">Evénement avec jeu de données</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Résultats attendus</legend>
                                        <div class="control-group">
                                            <label class="control-label" for="input01">Alors</label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge input-step input-step-then"  placeholder="..." />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="input01">Et </label>
                                            <div class="controls">
                                                <input type="text" class="input-xlarge input-step input-step-then"  name="feature-title" placeholder="..." />
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class="btn-group">
                                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                                        <i class="icon icon-plus-sign"></i> ajouter un résultat attendu
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Résultat attendu simple</a></li>
                                                        <li><a href="#">Résultat attend avec jeu de données</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Jeu d'exemples</legend>
                                        <p>
                                            Plutôt que de ne donner qu'une seule valeur pour vos exemples, vous pouvez donner un jeu
                                            de valeurs, afin de mieux aider le développeur à comprendre votre besoin et à encadrer
                                            vos cas limites.
                                        </p>
                                        <p>
                                            Les colonnes d'exemples sont automatiquement aujoutées lorsque vous saisissez dans un champ
                                            une valeur qui commence par un "&lt;" et finit par "&gt;".
                                        </p>

                                        <p>Par exemple : </p>
                                        <code>
                                            Je tente de réinscrire l'utilisateur qui a l'email "&lt;Email&gt;"
                                        </code>

                                        <p>Sera compris par le développeur :</p>
                                        <code>
                                            Je tente de réinscrire l'utilisateur qui a l'email "martin@dupont.fr"
                                        </code>

                                        <p>C'est à vous :</p>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Prénom</th>
                                                    <th>Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                                    <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                                    <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                                    <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                                    <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                                </tr>
                                                <tr>
                                                    <td><input type="text" class="input-small" placeholder="Dupont" /></td>
                                                    <td><input type="text" class="input-small" placeholder="Martin" /></td>
                                                    <td><input type="text" class="input-small" placeholder="martin@dupont.fr" /></td>
                                                </tr>
                                                <tr>
                                                    <td><button class="btn"><i class="icon icon-plus-sign"></i></button></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </fieldset>
                                </div>

                                <div class=" form-actions">
                                    <button class="btn btn-primary" type="submit">J'ai terminé pour ce scénario</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>






                <!-- Box Feature -->
                <div id="box-edit-title">
                    <div class="hero-unit">
                        <h1>En 2 mots</h1>
                        <p>Décrivez ici votre fonctionnalité en quelques mots seulement</p>
                        <div class="form-horizontal">

                            <fieldset>
                                <legend>En résumé</legend>
                                <div class="control-group">
                                    <label for="title" class="control-label">Title:</label>
                                    <div class="controls">
                                        <input name="title" id="title" placeholder="Pouvoir ajouter un utilisateur..." class="input-xlarg" />
                                        <p class="help-block">Le titre de la fonctionnalité</p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="title" class="control-label">Afin de:</label>
                                    <div class="controls">
                                        <input name="title" id="title" placeholder="Enregister un nouvel utilisateur..." class="input-xlarg" />
                                        <p class="help-block">Finalité de la fonctionnalité</p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="title" class="control-label">En tant que:</label>
                                    <div class="controls">
                                        <input name="title" id="title" placeholder="Administrateur du site..." class="input-xlarg" />
                                        <p class="help-block">Rôle de l'utilisateur qui agit</p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="title" class="control-label">je dois:</label>
                                    <div class="controls">
                                        <input name="title" id="title" placeholder=" Inscrire moi-même un nouvel utilisateur dans le site..." class="input-xlarg" />
                                        <p class="help-block">Bénéfice direct de la fonctionnalité</p>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset id="box-notes">
                                <legend>Quelques notes</legend>
                                <div class="control-group">
                                    <textarea name="notes" id="notes" placeholder="" class="field  span6" rows="6"></textarea>
                                    <p class="help-block">Ne renseignez des notes QUE si c'est vraiment indispensable à la compréhension.</p>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</form>


{% endblock %}

